<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en-US">

    <head>
        <style type="text/css">
            .title-block {
                border: 1px solid blue;
                height: 80px;
                width: 485px;
            }

            body {
                width:920px;
                height:1122px;
                font-family: Arial, sans-serif;

            }
            form {
               margin: 10px;
            }
            table, th, td {
                border-collapse: collapse;
            }
            table {
                margin:10px;
            }

            .content-label {
                display: block;
                font-size: 13px;
                word-wrap: break-word;
            }
        </style>
    </head>

    <body>
        <form>

            #if ($studentThumbDetails)
                #set ($boxCounter=1)
                #foreach ($thumbDetails in $studentThumbDetails)
                    #if ($boxCounter<=$studentThumbDetails.size())

                        <table width="100%">
                                <tr>
                                    <td width="25%" style="text-align:center;">
                                        <img src="data:image/bmp;base64,$thumbDetails.thumb1" width="90" height="100" align="center" alt="Paste Photo " style="border: none" />
                                    </td>
                                    <td width="25%" style="text-align:center;">
                                        <img src="data:image/bmp;base64,$thumbDetails.thumb2" width="90" height="100" align="center" alt="Paste Photo " style="border: none" />
                                    </td>
                                    <td width="25%" style="text-align:center;">
                                        <img src="data:image/bmp;base64,$thumbDetails.thumb3" width="90" height="100" align="center" alt="Paste Photo " style="border: none;" />
                                    </td>[
                                    <td width="25%" style="text-align:center;">
                                        <img src="data:image/bmp;base64,$thumbDetails.thumb4" width="90" height="100" align="center" alt="Paste Photo " style="border: none;" />
                                    </td>
                                    <td width="25%" style="text-align:center;">
                                        <img src="data:image/bmp;base64,$thumbDetails.thumb5" width="90" height="100" align="center" alt="Paste Photo" style="border: none" />
                                    </td>

                                </tr>
                                <tr>
                                    <td width="25%" style="text-align:center">
                                        <label class="content-label">$thumbDetails.name <br> $thumbDetails.attendanceId (1)</label>
                                    </td>
                                    <td width="25%" style="text-align:center">
                                        <label class="content-label">$thumbDetails.name <br> $thumbDetails.attendanceId (2)</label>
                                    </td>
                                    <td width="25%" style="text-align:center">
                                        <label class="content-label">$thumbDetails.name <br> $thumbDetails.attendanceId (3)</label>
                                    </td>
                                  <td width="25%" style="text-align:center">
                                        <label class="content-label">$thumbDetails.name <br> $thumbDetails.attendanceId (4)</label>
                                    </td>
                                   <td width="25%" style="text-align:center">
                                        <label class="content-label">$thumbDetails.name <br> $thumbDetails.attendanceId (5)</label>
                                    </td>

                                </tr>
                            </table>

                            #if ($boxCounter==7 || $boxCounter==14 || $boxCounter==21 || $boxCounter==28)
                                <pd4ml:page.break>
                            #end
                            #set ($boxCounter=$boxCounter+1)
                    #end

                #end
             #else

             #end

        </form>
    </body>

</html>
